//Galeria
.titulo{
    text-align: center;
    margin-top: -10%;
    padding-bottom: 2rem;
    font-size: 45px;
}
h6 {
    font-size: 2rem !important;
}
.contenedor-galeria{
    display: grid;
    justify-content: center;
    grid-template-columns: 33% 33% 33%;
    margin-left: 2%;
    align-items: center;
}
.galeria-img{
    width: 95%;
    height: 250px;
    margin-bottom: 30px;
    border: 3px solid rgb(15, 15, 15);
    object-fit: cover;
    filter: brightness(70%);
    cursor: pointer;
    animation: escalar 2.5s infinite alternate;
    :hover{
        filter: brightness(100%);
    }
}
@keyframes escalar{
    to { 
        transform: scale(1);
    }
    from{
        transform: scale(1.05);
    }
}