//Mis variables.
$colorGreen:#589837;
$colorCoral:darkorange;
$colorNegro:#000000;
//Mis scss importados.
@import 'contactos';
@import 'galeria';
@import 'recorridos';
@import 'servicios';
@import 'media';

@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Work Sans', sans-serif;
}
body {
    width: 100%;
    background-image: url(../img/fondo.jpeg);
    background-size:cover;
    background-attachment: fixed;
}
section h1{
    font-size: 1em;
}
/*Boostrap nav-bar*/
.navbar-brand img{
    width: 100%;
    height: 70px;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid $colorCoral;
    
}
.navbar-brand img:hover{
    transform: scale(1.2);

}
.navbar-nav{
    font-size: 25px;
    margin-left: 20%;
}
a.nav-link {
    color: $colorGreen;
}
a.nav-link:hover{
    color: #f3ecec;
    transition: 0.5s;
}
//Carrusel
.container{
    display: flex;
    justify-content: center;
    align-content: center;
}
.carousel-caption p{
    font-size: 25px;
    color: $colorNegro;
    text-align: center;
    font-family: monospace;
}
.carousel-caption h5{
    color: $colorNegro;
    text-align: center;
    font-size: 30px;
    font-family: monospace;
}
.carousel-inner{
    border: 2px solid;
}

//Seccion Principal del index
section h1{
    font-size: 1em;
}
section { 
    width: 100%;
    color: #fcf8f8;
    margin-top: 15%;
    text-align: center;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 5rem;
    margin-bottom: 5%;
}
/*footer*/
footer{
    background: #000000;
    text-align: center;
    margin-top: auto;
    width: 100%;
    li{
        list-style: none;
        display: inline-block;
        margin: 10px;
    }
}
.footer-iconos{
    width: 100%;
    text-align: center;
    margin-left: -10px;
    a{
        background: $colorGreen;
        color: #272727;
        padding: 15px;
        border-radius: 100px;
        display: flex;
        font-size: 25px;
        :hover{
            color: #fff;
        }
    }
}
.footer-copyright{
    background-color: $colorGreen;
    color: #fff;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 0px;
}



